@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: JaFont;
  src : url('./fonts/jafont.ttf')
}
@font-face{
  font-family: Nunito;
  src : url('./fonts/NunitoSans.ttf')
}
@font-face{
  font-family: Gilroy;
  src : url('./fonts/Gilroy-Regular.ttf')
}
@font-face{
  font-family: LED;
  src : url('./fonts/LEDCalculator.ttf')
}
@font-face{
  font-family: Degular;
  src : url('./fonts/Degular.ttf')
}
*{
  font-family: JaFont;
}
.social-first:hover>.icon{
  animation: rotate ease-in-out 0.5s ;
}
.resume:hover>.arrow-icon{
  transform: scale(1.4) ;
}
.native:hover>.location{
  transform: scale(1.2) ;
}
.tooltipParent:hover>.tooltip{
  opacity: 1;
}
.project:hover .icon{
  margin-right: 0vw;
} 
@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  30%{
    transform: rotate(30deg);
  }
  60%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0deg);
  }
}